@model Models.ReportModel
@{
    ViewBag.Title = "DailyReport_Mobile";
    Layout = "~/Views/Shared/_RSLayout.cshtml";
}

<div ng-app="" class="row">

    <input type="text" ng-model="name" />

    {{name}}

</div>
